<evt-panel [comparable]="true" [secondary]="true" [closable]="true" (hide)="emitHide()">
    <div header-left>
        <!-- TODO: Add dropdowns for navigation -->
        Witness {{ witness }}
    </div>
    <div content evtAnnotator>
            <div header-right>
                <p>Single page</p>
<!--                <p>cxurrent page: {{(currentPage$ | async) | json}}</p>-->
                <p>edition level: {{editionLevel | json}}</p>
                <p>text flow: {{textFlow}}</p>
                <p>item height: {{itemsToHighlight$ | async}}</p>
            </div>

            <evt-page
                      [attr.data-id]="'127r'"
                      [data]="currentPage$ | async"
                      [editionLevel]="editionLevel"
                      [textFlow]="'prose'"
                      [itemsToHighlight]="itemsToHighlight$ | async"></evt-page>
    </div>


</evt-panel>
